.h1-crear{
    color: #CE7578;
    margin-top: 8% !important;
}
textarea{
    width: 40% !important;
    display: flex;
margin-left: 30%;
}

.input-crear{
    width: 40%;
    margin-left: 30%;
}
.input-crear-1{
    margin-left: 30%;
}

.input-crear-0{
    width: 40%;
    margin-left: 30%;
}